    body {
        margin: 0;
        background: black;
    }
    
    * {
        box-sizing: border-box;
    }
    
    h1 {
        font-weight: 400;
        padding-top: 10%;
    }
    
    .weather-app {
        min-height: 100vh;
        background-image: url(./weather/cloud/cloud3.jpg);
        background-position: center;
        background-size: cover;
        color: white;
        position: relative;
        transition: 500ms;
        opacity: 1;
    }
    
    .weather-app::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.178);
        z-index: 0;
    }
    
    .container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        padding: 2em 3em 4em 3em;
    }
    
    .container>div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .city-time,
    .temp,
    .weather {
        margin: 0 1em;
    }
    
    .city-time h1 {
        margin: 0;
        margin-bottom: 0.2em;
        font-size: 3em;
    }
    
    .temp {
        font-size: 7em;
        margin: 0;
    }
    
    .weather img {
        display: flex;
        margin: 0.5em 0;
    }
    
    .panel {
        position: absolute;
        width: 40%;
        height: 100%;
        top: 0;
        right: 0;
        background: rgba(110, 110, 110, 0.562);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(10px);
        border: 1px solide rgba(0, 0, 0, 0.18);
        z-index: 1;
        padding: 3em 2em;
        overflow-y: scroll;
    }
    
    .panel form {
        margin-bottom: 3em;
    }
    
    .submit {
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px;
        margin: 0;
        margin-top: 30px;
        margin-right: 25px;
        border: none;
        border-radius: 50%;
        color: aliceblue;
        cursor: pointer;
        font-size: 25px;
        background: orange;
        opacity: 25px;
    }
    
    .submit :hover {
        background: orange!important;
        color: black;
    }
    
    .search {
        background: none;
        border-top: none;
        border-left: none;
        border-right: none;
        font-size: 28px;
    }
    
    .search:focus {
        outline: none;
    }
    
    .search::placeholder {
        color: #ccc;
    }
    
    .panel ul {
        padding: 0 0 1em 0;
        margin: 2em 0;
        border-bottom: 1px #ccc solid;
    }
    
    .panel ul li {
        color: #ccc;
        margin: 2.5em 0;
    }
    
    .panel ul h2 {
        margin: 3em 0;
        color: #ccc;
    }
    
    .city {
        display: block;
        cursor: pointer;
    }
    
    .city:hover {
        color: #fff;
        text-shadow: 0 0 5px #f4a003;
    }
    
    .detail li {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    @media screen and (max-width: 800px) {
        .panel,
        .container {
            position: absolute;
            width: 100%;
            padding-top: 10%;
            margin-top: 85%;
        }
        .weather img {
            margin-bottom: none;
        }
    }
    
    @media screen and (max-width:500px) {
        html {
            font-size: 30px;
        }
    }
    
    @media screen and(max-height:300px) {
        .weather-app {
            min-height: 40em;
        }
    }