    body {
        background-color: aqua;
    }
    
    .banner {
        background-color: white;
        border-radius: 50px;
        margin-top: 50%;
        padding: 10px;
    }
    
    div h1 {
        text-align: center;
        color: lightseagreen;
    }